<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.train.versesstock" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".StockProvider"
            android:authorities="com.train.versesstock.stockprovider"
            android:exported="false" />

        <activity
            android:name=".VersesChapter"
            android:label="@string/title_activity_verses"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.train.versesstock.MainActivity" />
        </activity>

        <activity
            android:name=".Verse"
            android:label="@string/title_activity_verse"
            android:parentActivityName=".VersesChapter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.train.versesstock.VersesChapter" />
        </activity>
    </application>
</manifest>
